data/create_scp/*.scp
data/scp_ss_8k_wsj_kt*
models/SepReformer_Base_WSJ0/test_SDRi_value.csv
models/SepReformer_Base_WSJ0/test_SISNRi_value.csv
models/SepReformer_Base_WSJ0/__pycache__/
models/SepReformer_Base_WSJ0/log/
models/SepReformer_Base_WSJ0/modules/__pycache__/module.cpython-310.pyc
models/SepReformer_Base_WSJ0/modules/__pycache__/network.cpython-310.pyc
models/SepReformer_T_WSJ0/test_SDRi_value.csv
models/SepReformer_T_WSJ0/test_SISNRi_value.csv
models/SepReformer_T_WSJ0/__pycache__/
models/SepReformer_T_WSJ0/log*
models/SepReformer_T_WSJ0/pth/
*.pyc
*.wav
*.log
*.pth
events*
*xml
*mat
*iml
*xlsx